@import 'tailwindcss';

@theme {
  --font-sans: 'Mulish', sans-serif;
  --font-family: 'Mulish', sans-serif;
}

/* Prevent horizontal scroll */
/* html,
body {
  overflow-x: hidden;
  max-width: 100vw;
} */
